.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 20px;
  padding-inline: 15px;
  padding-block: 5px;
}

.header h1 {
  font-size: 1.5rem;
  font-weight: 300;
}
.header h1 span {
  font-weight: 700;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
  font-weight: 300;
}

.links p:hover {
  cursor: pointer;
}

@media (min-width: 576px) and (max-width: 767px) {
  .header h1 {
    font-size: 2rem;
  }
}