.sideBar {
  border-radius: 10px;
  padding: 20px;
  margin-block: 20px;
  overflow: hidden;
}

.projects {
  height: 74vh;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-width: none;
}

.project {
  text-align: start;
  padding: 10px;
  overflow: hidden;
}

.project.open {
  animation: slidein 0.5s ease-in-out forwards;
}

.project.closed h1 {
  max-height: 40px;
}

.project.open h1 {
  max-height: 500px;
  padding: 10px 0;
  width: 100%;
}

.project.open p {
  width: 500px; /* Set a fixed width */
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  margin: 5 auto;
}

.project:not(:last-child) {
  border-bottom: 2px solid #98734b;
  padding-bottom: 10px; /* Space between content and border */
}

@keyframes slidein {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px;
    opacity: 1;
  }
}
@media (min-width: 1399px) {
  .sideBar {
    height: 74vh;
  }
  .projects {
    height: 70vh;
  }
}
