.footer{
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 15px;
}

.footer a{
    color: var(--text);
    text-decoration: none;
}